body {
	background-color: rgb(255, 255, 75);
}

* {
	font-family: "Courier New";
}

h1 {
	color: rgb(255, 255, 0);
	font-style: italic;
	background-color: rgb(0, 0, 255);
}

.centered {
	margin: 0 auto;
}

.icons {
	display: block;
	width: 30%;
	margin: 10px auto;
	margin-bottom: 30px;
}